<div class="mx-auto" style="width: 75%; font-weight:100;">
You are signed in as <%= @current_user.first_name %> <%= @current_user.last_name %> (<%= @current_user.email %>) with role "<%= @current_user.role %>"
<br>
<div style="padding: 10px;">
<h2>Current Jobs</h2>
</div>
<% @jobs.each do |j| %>
  <div class="card mb-lg-0 mb-4 h-100" style="font-weight:1000; font-size:20px; margin-left:10px; margin-right:10px;">
    <div class="card-body p-5">
      <div class="mb-4">
        <%= j.name %> by <b><%= j.user.first_name %> <%= j.user.last_name %></b>
      </div>
      <p><%= j.description %></p>
      <a href="post/<%= j.id %>/"><button class="btn btn-success">Go To Job</button></a>
    </div>
  </div>
  <div>
  </div>
<% end %>

<% if @jobs.length == 0 %>
  There are no jobs. Create one.
<% end %>
<br>
<div style="margin-left:10px; margin-right: 10px; margin-bottom: 10px;">
  <a href="posts"><button class="btn btn-success" style="width:250px;">Create Job</button></a>
</div>
</div>
