<div class="mx-auto" style="width: 75%;">
You are signed in as <%= @current_user.first_name %> <%= @current_user.last_name %> (<%= @current_user.email %>) with role "<%= @current_user.role %>"
</div>
<br>
<h3>Current Jobs</h3>
<% @jobs.each do |j| %>
  <div class="card mb-lg-0 mb-4 h-100">
    <div class="card-body p-5">
      <div class="mb-4">
        <a href="post/<%= j.id %>/"><%= j.name %></a>
      </div>
      <p><%= j.description %></p>
    </div>
  </div>
  <div>
  </div>
<% end %>

<% if @jobs.length == 0 %>
  There are no jobs. Create one.
<% end %>
<br>
<a href="posts"><button class="btn btn-success">Create Job</button></a>
