You are signed in as "<%= @current_user.email %>" with role "<%= @current_user.role %>"
<br>
See current jobs:
<% @jobs.each do |j| %>
  <div>
    <a href="post/<%= j.id %>/">Name: <%= j.name %>, Description: <%= j.description %></a>
  </div>
<% end %>
<br>
Create a new job:
<a href="posts">+ Click here</a>
