<div class="mx-auto" style="width: 75%;">
You are signed in as <%= @current_user.first_name %> <%= @current_user.last_name %> (<%= @current_user.email %>) with role "<%= @current_user.role %>"
<br>
<br>
<div class="card">
<div style="padding:10px;">
<h3><%= @job.name %> </h3>
<%= @job.description %> 
</div>
</div>
<br>
<br>
<h3>Files Uploaded</h3>
<% @job.files.each do |file| %>
      <a href="<%= url_for(file) %>"><%= image_tag(file, style: 'height:100px;width:auto;') %></a>
<% end %>

<% if @job.files.length == 0 %>
There are no files uploaded at this time.
<% end %>
<br>
<br>
<br>
<h3>Upload pictures and files here:</h3>
<%= form_with(multiple: true, method: 'post', url: '/post/images/' + @job.id.to_s, local: true) do |form| %>
  <div class="field">
    
    <%= form.file_field :documents, multiple: true, direct_upload: true %>
  </div>
  <br>
  <div>
    <button class="btn btn-success my-2 my-sm-0" type="submit">Submit</button>
  </div>
<% end %>
<br>
<br>
<br>
<h3>Job comments</h3>
<% @comments.each do |comment| %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-white post">
                <div class="post-heading">
                    <div class="float-left meta">
                        <div class="title h5">
                            <a href="#"><b><%= comment.user.first_name %></b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time"><%= comment.created_at %></h6>
                    </div>
                </div> 
                <div class="post-description" style="padding:10px;"> 
                    <p><%= comment.content %></p>

                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
<% if @comments.length == 0 %>
There are no comments at this time.
<% end %>
<br>
<br>
<h4>Add a new comment</h4>
<form method="POST" style="padding-bottom: 10px;" action="/post/comments/<%= @job.id.to_s %>" class="form-inline">
  <textarea id="comment" name="comment" rows="4" cols="50" class="form-control">
  </textarea>
  <div style="padding: 10px;">
  <button class="btn btn-success my-2 my-sm-0" type="submit">Submit</button>
  </div>
</form>

</div>
